<template name="activityExplainTheWord_Wordlist">
	<div class="wordlist">
		<div class="header">
			<span>Word</span>
			{{#unless thisUserHasRole 'teacher'}}
				<span>Student</span>
			{{else}}
				<span>Group</span>
			{{/unless}}
		</div>
		<div class="container">
			{{#each wordlistItems}}
				<div>
					<span>
						<input type="text" value="{{this.item}}"
							{{#unless isCurrentUserOrRole this.userId 'teacher'}}
								disabled="true"
							{{/unless}} />
					</span>
					<span>
						{{#if thisUserHasRole 'teacher'}}
							{{groupMembers this.groupId}}
						{{else}}
							{{profileName this.userId}}
						{{/if}}
					</span>
				</div>
			{{/each}}
		</div>
		{{#unless thisUserHasRole 'teacher'}}
			<form>
				<input type="text" placeholder="Enter a Word"/>
				<button class="submit">Submit</button>
			</form>
		{{/unless}}
	</div>
	<table class="scrolltable large-12 small-12 columns">
		<thead>
			<tr>
				<th>Word</th>
				<th>Student</th>
				{{#if thisUserHasRole 'teacher'}}
					<th>Group</th>
				{{/if}}
			</tr>
		<thead>
	</table>
	<div id="wordlist-container" class="scrolltable-container clear">
		<table class="scrolltable large-12 small-12 columns">
			<tbody border="1">
				{{#each wordlistItems}}
					<tr>
						<td>
							<input class="txt-wordlist-item-input" type="text" value="{{this.item}}" {{#if thisUserHasRole 'student'}}{{#unless isCurrentUser this.userId}} disabled="true" {{/unless}}{{/if}} />
						</td>
						<td>
							{{profileName this.userId}}
						</td>
						{{#if thisUserHasRole 'teacher'}}
							<td>
								{{groupMembers this.groupId}}
							</td>
						{{/if}}
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	{{#unless thisUserHasRole 'teacher'}}
		<form id="add-wordlist-item" name="add-wordlist-item">
			<div class="large-12 columns no-horz-padding">
				<div class="row collapse">
					<div class="small-10 columns">
						<input id="txt-add-wordlist-item" type="text" />
					</div>
					<div class="small-2 columns">
						<a class="submit button prefix success">Submit</a>
					</div>
				</div>
			</div>
		</form>
	{{/unless}}
</template>