<template name="activityExplainTheWord_Wordlist_Entry">
	{{> activityExplainTheWord_Wordlist_Wordlist}}
	{{#unless thisUserHasRole 'teacher'}}
		<form id="add-wordlist-item" name="add-wordlist-item">
			<div class="large-12 columns no-horz-padding">
				<div class="row collapse">
					<div class="small-10 columns">
						<input id="txt-add-wordlist-item" type="text" />
					</div>
					<div class="small-2 columns">
						<a class="submit button prefix success">Submit</a>
					</div>
				</div>
			</div>
		</form>
	{{/unless}}
</template>