<template name="activityExplainTheWord_Wordlist_Entry">
	{{> activityExplainTheWord_Wordlist_Wordlist}}
	{{#unless thisUserHasRole 'teacher'}}
		<form id="add-wordlist-item" name="add-wordlist-item">
			<div class="large-12 columns">
				<div class="row collapse">
					<div class="small-10 columns">
						<input id="txt-add-wordlist-item" type="text" />
					</div>
					<div class="small-2 columns">
						<button class="submit prefix success">Submit</button>
					</div>
				</div>
			</div>
		</form>
	{{/unless}}
</template>