<template name="activityExplainTheWord_Wordlist_Wordlist">
	<table class="wordlist large-12 small-12 columns" border="1">
		<thead>
			<tr>
				<th>Word</th>
				<th>Student</th>
				{{#if thisUserHasRole 'teacher'}}
					<th>Group</th>
				{{/if}}
			</tr>
		<thead>
	</table>
	<div id="wordlist-container" style="clear:both;">
		<table class="wordlist large-12 small-12 columns">
			<tbody border="1">
				{{#each wordlistItems}}
					<tr>
						<td>
							<input class="txt-wordlist-item-input" type="text" value="{{this.item}}" {{#if thisUserHasRole 'student'}}{{#unless isCurrentUser this.userId}} disabled="true" {{/unless}}{{/if}} />
						</td>
						<td>
							{{profileName this.userId}}
						</td>
						{{#if thisUserHasRole 'teacher'}}
							<td>
								{{groupMembers this.groupId}}
							</td>
						{{/if}}
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>