<template name="activityExplainTheWord_Explain_Stats_Activity">
	<div class="stats activity">
		<div class="header">
			<span>Student</span>
			<span>Current Word</span>
		</div>
		<ul>
			{{#each explainItems}}
				<li>
					<a>
						<span>
							{{#if showStatDetails this}}
								-
							{{else}}
								+
							{{/if}}
							{{this.item}}
						</span>
						<span>{{this.averageTime}}</span>
					</a>
					<div class="dropdown {{#unless showStatDetails this}}hide{{/unless}}">
						<ul>
							{{#each groups}}
								<li>
									<span>{{groupMembers this._id}}</span>
									<span>{{itemAnswerTime this._id ../this.item}}</span>
								</li>
							{{/each}}
						</ul>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</template>