<template name="activityExplainTheWord_Explain_Stats_Activity">
	<div class="stats activity">
		<div class="header">
			<span>Student</span>
			<span>Current Word</span>
		</div>
		<ul>
			{{#each students}}
				<li>
					<a>
						<span>
							{{#if showStatDetails this}}
								 -
							{{else}}
								 +
							{{/if}}
							{{profileName this}}
						</span>
						<span>{{currentItem this}}</span>
					</a>
					<div class="dropdown {{#unless showStatDetails this}}hide{{/unless}}">
						{{#if showStatDetails this}}
							<div class="header">
								<span>Word</span>
								<span>Time (sec)</span>
								<span>
									<span class="tick"><img src="/images/tick_green.png" alt="tick" /></span>/<span class="cross"><img src="/images/cross_red.png" alt="cross" /></span>
								</span>
							</div>
							<ul>
								{{#each studentAllItems}}
									<li>
										<span>{{this.item}}</span>
										<span>{{itemAnswerTime}}</span>
										{{#if answeredTick}}
											<span class="tick"><img src="/images/tick_green.png" alt="Answer" /></span>
										{{/if}}
										{{#if answeredCross}}
											<span class="cross"><img src="/images/cross_red.png" alt="Answer" /></span>
										{{/if}}
									</li>
								{{/each}}
							</ul>
						{{/if}}
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</template>