<template name="activityExplainTheWord_Explain_Stats_Class">
	<div class="stats class">
		<div class="header">
			<span>Group</span>
			<span>Average Time (sec)</span>
		</div>
		<ul>
			{{#each groups}}
				<li>
					<a>
						<span>{{groupMembers this.groupId}}</span>
						<span>{{this.averageTime}}</span>
					</a>
					<div class="{{#unless showStatDetails this._id}}hide{{/unless}}">
						<ul>
						{{#each explainItems this.groupId}}
							<li>
								<span>{{this.item}}</span>
								<span>{{time this}}</span>
							</li>
						{{/each}}
						</ul>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</template>