<template name="login">
	<form id="login-form">
		<div><input id="username-field" type="text" name="username-field" placeholder="Username" /></div>
		<div><input id="password-field" type="password" name="password-field" placeholder="Password" /></div>
		<div><input id="login-btn" type="button" name="login-btn" value="Login" />
			 <input id="signup-btn" type="button" name="signup-btn" value="Sign Up" />
			 <input id="logout-btn" type="button" name="logout-btn" value="Logout" /></div>
	</form>
</template>