<template name="login">
	<form id="login-form">
		{{#if currentUser}}
			<div><input id="logout-btn" type="button" name="logout-btn" value="Logout" /></div>
		{{else}}
		<div id="login-email-container"><input id="email-field" type="text" name="email-field" placeholder="Your email@domain.com" /><button class="submit" name="submit">Submit</button></div>

		<div id="login-name-container" class="hidden"><input id="name-field" type="text" name="name-field" placeholder="Enter your name" /><button class="submit" name="submit">Submit</button></div>

		<div id="login-password-container" class="hidden"><input id="password-field" type="password" name="password-field" placeholder="Password" /><button class="submit" name="submit">Submit</button></div>
		{{/if}}
	</form>
</template>