// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// ==============================================
// Variables and mixins - These should be moved 
// into their own scss file along with the above
// dependencies to make it easier to modularise
// the activity scss
// ==============================================

$top-menu-link-color: #fff;
$top-menu-active-link-color: darken($top-menu-link-color, 30%);

$top-menu-dropdown-background-color: #222;

@mixin dropdown-exit-button
{
  @include button($button-sml, $alert-color, false, false, false, false);
  
  margin: 0.625em;
  display: block;
}

// ==============================================
// Global styles
// ==============================================

html, body
{
  height: 100%;
  overflow: hidden;
}

header
{
  position: absolute;
  height: 3em;
  top: 0;
  left: 0;
  right: 0;
  overflow: visible;
}

.main
{
  position: absolute;
  top: 3em;
  bottom: 3em;
  left: 0;
  right: 0;
}

footer
{
  position: absolute;
  height: 3em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
}

// ==============================================
// Login styles
// ==============================================

div.login
{
  @include grid-row();
  max-width: 9999em;

  > button
  {
    &.login
    {
      @include button($button-med, $primary-color, false, true);
    }

    &.signup
    {
      @include button($button-med, $primary-color, false, true);
    }
  }

  .modal
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.6);

    > div
    {
      @include grid-row($behavior: nest-collapse);

      margin-top: 5%;

      height: 50%;

      form
      {
        @include grid-column(8, false, true);

        border: 1px solid #ddd;
        border-radius: 1em;

        background-color: #fff;

        text-align: center;

        padding-top: 1em;

        input
        {
          @include grid-row($behavior: nest-collapse);

          width: 100%;

          margin:
          {
            top: 1em;
            bottom: 1em;
          }
        }

        button
        {
          @include grid-column(4);

          float: none;
        }
      }
    }
  }
}

// ==============================================
// Menu styles
// ==============================================

.top-menu
{
  display: block;
  width: 100%;
  height: 3em;

  background-color: $topbar-bg;

  >div
  {
    @include grid-row($behavior: nest-collapse);
    font-size: 200%;
    line-height: 1.5;
    text-align: center;

    a
    {
      color: $topbar-link-color;
      
      float: left;

      &.icon
      {
        display: block;
        width: 15%;

        border-right: 1px solid darken($topbar-bg, 10%);

        img
        {
          height: 1em;
          width: 1em;
        }
      }

      &.forward
      {
        display: block;
        width: 15%;

        border-left: 1px solid lighten($topbar-bg, 10%);

        img
        {
          height: 1em;
          width: 1em;
        }
      }

      &.active
      {
        color: $top-menu-active-link-color;
      }
      &:hover
      {
        color: $top-menu-active-link-color;
        background-color: darken($topbar-bg, 10%);
      }
    }

    .context
    {
      float: left;

      color: $topbar-link-color;

      width: 70%;

      border-left: 1px solid lighten($topbar-bg, 10%);
      border-right: 1px solid darken($topbar-bg, 10%);

      span
      {
        &.logotype:nth-child(1)
        {
          color: #63c9eb;
        }
        
        &.logotype:nth-child(2)
        {
          color: #f18609;
        }

        &.activity-title
        {
          font-size: 80%;
        }
      }

      img
      {
        height: 0.8em;
        width: 0.8em;

        margin-bottom: 5px;
      }
    }
  }
}

.main > .dropdown
{
  position: absolute;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;

  z-index: 999;

  li
  {
    display: block;
    width: 100%;
    background-color: $top-menu-dropdown-background-color;

    border-top: 1px solid lighten($top-menu-dropdown-background-color, 10%);
    border-bottom: 1px solid darken($top-menu-dropdown-background-color, 10%);

    &:hover
    {
      background-color: darken($top-menu-dropdown-background-color, 10%);
    }

    a
    {
      line-height: 3em;
      color: $top-menu-link-color;
      font-size: 1em;

      display: block;
      width: 100%;
      height: 100%;

      padding-left: 0.5em;

      &.home
      {
        @include dropdown-exit-button;
      }

      &.logout
      {
        @include dropdown-exit-button;
      }
    }

    &.controls
    {
      text-align: center;

      padding: 
      {
        top: 0.5em;
        bottom: 0.5em;
      }

      button
      {
        margin-bottom: 0 !important;

        &.play-pause
        {
          @include button($button-med, $primary-color);

          margin-right: 1em;

          img
          {
            height: 1em;
            width: 1em;
          }
        }

        &.stop
        {
          @include button($button-med, $alert-color);

          margin-left: 1em;

          img
          {
            height: 1em;
            width: 1em;
          }
        }
      }
    }
  }
}

.bottom-options
{
  button
  {
    position: absolute;
    bottom: 0;
    width:50%;
    height:3em;
    margin:0;
    
    &:first-child
    {
      left: 0;
    }
    &:last-child
    {
      right: 0;
    }
  }
}

// ==============================================
// Utility areas
// ==============================================

.main > .not-found
{
  @include grid-column(10, false, true);

  text-align: center;
}

.splash
{
  @include grid-row();

  .logo
  {
    width: 100%;
    max-width: 40em;

    display: block;
    margin: 0 auto;
  }
}

// ==============================================
// Admin styles
// ==============================================

.admin
{
  &.users
  {
    @include grid-row();

    height: 100%;

    > .header
    {
      @include grid-row($behavior: nest-collapse);

      text-align: center;

      border: 1px solid #ddd;
      background: #f5f5f5;

      line-height: 2em;

      span
      {
        font-weight: 600;
      }
    }

    > ul
    {
      @include grid-row($behavior: nest-collapse);

      height: 60%;
      overflow-y: auto;

      list-style: none;

      border:
      {
        left: 1px solid #ddd;
        right: 1px solid #ddd;
        bottom: 1px solid #ddd;
      }

      .user
      {
        @include grid-row($behavior: nest-collapse);

        &:nth-child(even)
        {
          background-color: #f9f9f9;
        }

        a
        {
          line-height: 2em;
        }

        .details
        {
          @include grid-column(12);

          text-align: center;

          border:
          {
            top: 1px solid #ddd;
            bottom: 1px solid #ddd;
          }

          .name
          {
            @include grid-row($behavior: nest-collapse);

            font-weight: 600;

            border-bottom: 1px solid #ddd;
          }

          .roles
          {
            text-align: left;

            > span
            {
              &:nth-child(odd)
              {
                @include grid-column(8);
              }

              &:nth-child(even)
              {
                @include grid-column(4);
              }
            }
          }

          .delete
          {
            @include button($button-med, $alert-color, false, true);
          }
        }
      }
    }
  }
}

// ==============================================
// Classroom styles
// ==============================================
.classroom-manager
{
  @include grid-row();

  height: 100%;

  ul
  {
    @include grid-row($behavior: nest-collapse);

    height: 100%;
    overflow-y: auto;

    list-style: none;

    padding-bottom: 3em;

    li.classroom
    {
      @include grid-column(10, false, true);

      padding: 1em;

      > div
      {
        @include grid-row($behavior: nest-collapse);

        height: 100%;
        background-color: yellow;

        padding: 1em;
        box-shadow: 0.5em 0.5em 1em 0 #ddd;

        text-align: center;

        span
        {
          font-weight: 600;
        }

        .details
        {
          p
          {
            text-align: left;
          }
        }

        .join
        {
          @include button($button-med, $primary-color, false, true);

          margin-bottom: 0;
        }
      }
    }
  }

  button.new
  {
    @include button($button-med, $primary-color, false, true);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    margin-bottom: 0;
  }

  .modal
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.6);

    > div
    {
      @include grid-row($behavior: nest-collapse);

      margin-top: 5%;

      height: 50%;

      form
      {
        @include grid-column(8, false, true);

        border: 1px solid #ddd;
        border-radius: 1em;

        background-color: #fff;

        text-align: center;

        padding-top: 1em;

        input
        {
          @include grid-row($behavior: nest-collapse);

          width: 100%;

          margin:
          {
            bottom: 1em;
            top: 1em;
          }
        }

        button
        {
          @include grid-column(4);
          
          float: none;
        }
      }
    }
  }
}

div.classroom
{
  @include grid-row();
  
  height: 100%;
  overflow-x: hidden;

  max-width: none;

  >.container
  {
    width: 200%;
    height: 100%;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    &.groups
    {
      -webkit-transform: translate(0%, 0);
      -moz-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
      -o-transform: translate(0%, 0);
      transform: translate(0%, 0);
    }

    &.activity
    {
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }

    >div
    {
      @include grid-column(6);
      
      height: 100%;
    }
  }
}

// ==============================================
// Group Manager
// ==============================================

.group-manager
{
  @include grid-row();
  
  height: 100%;

  >.container
  {
    @include grid-row($behavior: nest-collapse);
    
    height: 100%;
    overflow-y: auto;

    .group
    {
      @include grid-column(10, false, true);

      padding: 1em;

      >div
      {
        @include grid-row($behavior: nest-collapse);

        height: 100%;
        background-color: yellow;

        padding: 1em;

        box-shadow: 0.5em 0.5em 1em 0 #ddd;

        ul
        {
          @include grid-row($behavior: nest-collapse);

          list-style: none;

          li
          {
            @include grid-row($behavior: nest-collapse);
          }
        }

        button
        {
          @include button($button-med, $primary-color, false, true);

          margin-bottom: 0;

          &.hide
          {
            display: none;
          }
        }
      }
    }
  }
}

// ==============================================
// Activity Manager
// ==============================================

.activity-manager
{
  @include grid-row();

  height: 100%;

  .header
  {
    @include grid-row($behavior: nest-collapse);

    border: 1px solid #ddd;
    background-color: #f5f5f5;

    line-height: 2em;

    span
    {
      @include grid-column(12);

      font-weight: 600;
    }
  }
  > ul
  {
    @include grid-row($behavior: nest-collapse);

    height: 70%;
    overflow-y: auto;

    list-style: none;

    border:
    {
      left: 1px solid #ddd;
      right: 1px solid #ddd;
      bottom: 1px solid #ddd;
    }

    li
    {
      @include grid-row($behavior: nest-collapse);

      line-height: 2em;

      &:nth-child(even)
      {
        background-color: #f9f9f9;
      }

      a
      {
        @include grid-column(12);
      }
    }
  }
}

// ==============================================
// Activities - NB: these will need to be moved
// into a package and seperate scss file so try
// to keep the dependencies at a minimum
// ==============================================

.explain-the-word
{
  &.activity-main
  {
    @include grid-row();

    height: 100%;
    overflow: hidden;

    > .modal
    {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background-color: rgba(0, 0, 0, 0.6);

      > div
      {
        @include grid-row($behavior: nest-collapse);

        margin-top: 5%;
        height: 50%;

        > div
        {
          @include grid-column(8, false, true);

          border: 1px solid #ddd;
          border-radius: 1em;

          background-color: #fff;

          text-align: center;
          padding-top: 1em;
        }
      }
    }

    > .stopped
    {
      > span
      {
        @include grid-column(10, false, true);
        
        text-align: center;
      }
    }
  }

  .wordlist
  {
    &.student
    {
      @include grid-row();

      height: 100%;

      > .header
      {
        @include grid-row($behavior: nest-collapse);

        border: 1px solid #ddd;
        background-color: #f5f5f5;

        line-height: 2em;

        span
        {
          @include grid-column(6);

          font-weight: 600;
        }
      }

      > ul
      {
        @include grid-row($behavior: nest-collapse);

        height: 60%;
        overflow-y: auto;

        list-style: none;

        border:
        {
          left: 1px solid #ddd;
          right: 1px solid #ddd;
          bottom: 1px solid #ddd;
        }

        > li
        {
          @include grid-row($behavior: nest-collapse);

          line-height: 2em;

          &:nth-child(even)
          {
            background-color: #f9f9f9;
          }

          > span
          {
            @include grid-column(6);

            margin:
            {
              top: 0.5em;
              bottom: 0.5em;
            }

            input
            {
              margin: 0;
            }
          }
        }
      }

      form
      {
        @include grid-row($behavior: nest-collapse);

        height: 20%;

        input
        {
          @include grid-column(10);

          line-height: 2em;
          height: 2.4em;
        }

        button
        {
          @include grid-column(2);

          line-height: 2em;

          padding: 0;
        }
      }
    }

    &.teacher
    {
      @include grid-row();

      height: 100%;

      > .container
      {
        @include grid-row($behavior: nest-collapse);

        height: 200%;

        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;

        &.activity
        {
          -webkit-transform: translate(0, 0%);
          -moz-transform: translate(0, 0%);
          -ms-transform: translate(0, 0%);
          -o-transform: translate(0, 0%);
          transform: translate(0, 0%);
        }

        &.class
        {
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }

        > div
        {
          @include grid-row($behavior: nest-collapse);

          height: 50%;
        }
      }
    }

    &.stats
    {
      @include grid-row();

      height: 100%;

      > .header
      {
        @include grid-row($behavior: nest-collapse);

        border: 1px solid #ddd;
        background-color: #f5f5f5;

        line-height: 2em;

        span
        {
          @include grid-column(6);

          font-weight: 600;
        }
      }

      > ul
      {
        @include grid-row($behavior: nest-collapse);

        height: 70%;
        overflow-y: auto;

        list-style: none;

        border:
        {
          left: 1px solid #ddd;
          right: 1px solid #ddd;
          bottom: 1px solid #ddd;
        }

        li
        {
          @include grid-row($behavior: nest-collapse);

          line-height: 2em;

          &:nth-child(even)
          {
            background-color: #f9f9f9;
          }

          span
          {
            @include grid-column(6);
          }
        }
      }
    }
  }

  .explain
  {
    @include grid-row();
    height: 100%;

    &.student
    {
      .container
      {
        @include grid-row($behavior: nest-collapse);

        height: 100%;

        &.answered.tick
        {
          background-color: lighten($success-color, 30%);
        }

        &.answered.cross
        {
          background-color: lighten($alert-color, 40%);
        }

        .word
        {
          @include grid-row($behavior: nest-collapse);

          text-align: center;

          height: 35%;
        }

        >div
        {
          @include grid-row($behavior: nest-collapse);

          .answer
          {
            &.tick
            {
              @include button($button-lrg, $success-color);
              @include single-transition;
              @include inset-shadow(true);

              float: left;

              img
              {
                width: 1.5em;
                height: 1.5em;
              }
            }

            &.cross
            {
              @include button($button-lrg, $alert-color);
              @include single-transition;
              @include inset-shadow(true);

              float: right;

              img
              {
                width: 1.2em;
                height: 1.2em;
              }
            }
          }
        }

        .new
        {
          @include button($button-med, $primary-color, false, true);
          @include single-transition;
          @include inset-shadow(true);
        }

        > span
        {
          @include grid-column(10, false, true);

          text-align: center;
        }
      }
    }

    &.teacher
    {
      > .container
      {
        @include grid-row($behavior: nest-collapse);

        height: 200%;

        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;

        &.activity
        {
          -webkit-transform: translate(0, 0%);
          -moz-transform: translate(0, 0%);
          -ms-transform: translate(0, 0%);
          -o-transform: translate(0, 0%);
          transform: translate(0, 0%);
        }

        &.class
        {
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }

        > div
        {
          @include grid-row($behavior: nest-collapse);

          height: 50%;

          .stats
          {
            &.activity
            {
              @include grid-row();

              height: 100%;

              button
              {
                @include button($button-med, $primary-color, false, true);
                @include single-transition;
                @include inset-shadow(true);

                margin-bottom: 0;
              }

              > .header
              {
                @include grid-row($behavior: nest-collapse);

                border: 1px solid #ddd;
                background-color: #f5f5f5;

                line-height: 2em;

                span
                {
                  @include grid-column(6);

                  font-weight: 600;
                }
              }

              > ul
              {
                @include grid-row($behavior: nest-collapse);

                list-style: none;
                
                height: 70%;
                overflow-y: auto;

                border:
                {
                  left: 1px solid #ddd;
                  right: 1px solid #ddd;
                  bottom: 1px solid #ddd;
                }

                > li
                {
                  @include grid-row($behavior: nest-collapse);

                  line-height: 2em;

                  &:nth-child(even)
                  {
                    background-color: #f9f9f9;
                  }

                  a
                  {
                    @include grid-row($behavior: nest-collapse);

                    span
                    {
                      @include grid-column(6);
                    }
                  }

                  div
                  {
                    @include grid-row($behavior: nest-collapse);

                    > .header
                    {
                      @include grid-row($behavior: nest-collapse);

                      border-top: 1px solid #ddd;

                      > span
                      {
                        font-weight: 600;

                        &:nth-child(1)
                        {
                          @include grid-column(6);
                        }

                        &:nth-child(2)
                        {
                          @include grid-column(4);
                        }

                        &:nth-child(3)
                        {
                          @include grid-column(2);

                          .tick
                          {
                            img
                            {
                              height: 1em;
                              width: 1em;
                            }
                          }

                          .cross
                          {
                            img
                            {
                              height: 0.8em;
                              width: 0.8em;
                            }
                          }
                        }
                      }
                    }

                    ul
                    {
                      @include grid-row($behavior: nest-collapse);

                      border:
                      {
                        top: 1px solid #ddd;
                        bottom: 1px solid #ddd;
                      }

                      li
                      {
                        @include grid-row($behavior: nest-collapse);

                        display: block;

                        span
                        {
                          &:nth-child(1)
                          {
                            @include grid-column(6);
                          }

                          &:nth-child(2)
                          {
                            @include grid-column(4);
                          }

                          &:nth-child(3)
                          {
                            @include grid-column(2);

                            &.tick
                            {
                              img
                              {
                                height: 1em;
                                width: 1em;
                              }
                            }

                            &.cross
                            {
                              img
                              {
                                height: 0.8em;
                                width: 0.8em;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            &.class
            {
              @include grid-row();

              height: 100%;

              > .header
              {
                @include grid-row($behavior: nest-collapse);

                border: 1px solid #ddd;
                background-color: #f5f5f5;

                line-height: 2em;

                span
                {
                  font-weight: 600;

                  &:nth-child(1)
                  {
                    @include grid-column(4);
                  }

                  &:nth-child(2)
                  {
                    @include grid-column(3);
                  }

                  &:nth-child(3)
                  {
                    @include grid-column(5);
                  }
                }
              }

              ul
              {
                @include grid-row($behavior: nest-collapse);

                list-style: none;

                display: block;
                height: 70%;
                overflow-y: auto;

                border:
                {
                  left: 1px solid #ddd;
                  right: 1px solid #ddd;
                  bottom: 1px solid #ddd;
                }

                li
                {
                  line-height: 2em;

                  &:nth-child(even)
                  {
                    background-color: #f9f9f9;
                  }

                  a
                  {
                    @include grid-row($behavior: nest-collapse);

                    span
                    {
                      &:nth-child(1)
                      {
                        @include grid-column(4);
                      }

                      &:nth-child(2)
                      {
                        @include grid-column(3);
                      }

                      &:nth-child(3)
                      {
                        @include grid-column(5);
                      }
                    }
                  }
                  > div
                  {
                    @include grid-row($behavior: nest-collapse);

                    border:
                    {
                      top: 1px solid #ddd;
                      bottom: 1px solid #ddd;
                    }
                    > div
                    {
                      @include grid-column(12);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.brainstorm
{
  &.activity-main
  {
    @include grid-row();

    height: 100%;

    .student
    {
      @include grid-row();

      height: 100%;

      ul
      {
        @include grid-row($behavior: nest-collapse);

        height: 60%;
        overflow-y: auto;

        li
        {
          @media screen and (max-width: 767px)
          {
            @include grid-column(10, false, true);
          }

          @media screen and (min-width: 768px) and (max-width: 1279px)
          {
            @include grid-column(6);
          }

          @media screen and (min-width: 1280px)
          {
            @include grid-column(4);
          }

          padding: 1em;

          > div
          {
            background-color: grey;

            min-height: 14em;

            textarea
            {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
