<template name="login">
	<div class="login">
		<button class="login">Log In</button>
		<button class="signup">Sign Up</button>

		<div class="modal login">
			<div>
				<form>
					<input type="email" placeholder="Your email@address.com" />
					<input type="password" placeholder="Password" />
				</form>
			</div>
		</div>

		<div class="modal signup">
			<div>
				<form>
					<input type="text" placeholder="Your name" />
					<input type="email" placeholder="Your email@address.com" />
					<input type="password" placeholder="Password" />
				</form>
			</div>
		</div>
	</div>
</template>