<template name="login">
	<div class="login">
		<form>
			<div class="name invisible">
				<input type="text" placeholder="Your name" />
			</div>
			<div class="email">
				<input type="email" placeholder="Your email@address.com" />
			</div>
			<div class="password">
				<input type="password" placeholder="Password" />
			</div>
			<div>
				<button type="submit" class="submit">Submit</button>
				<button type="button" class="signup visible">Sign Up!</button>
				<button type="reset" class="cancel invisible">Cancel</button>
			</div>
		</form>
	</div>
</template>