<template name="main">
	<div class="container">
		<section class="main">
			{{#if currentUser}}
			<nav class="top-bar">
				<ul class="title-area">
					<li class="name">
						<h1><a>ClassWired</a></h1>
					</li>
					<li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
				</ul>

				<section class="top-bar-section">
					<ul class="left">
					</ul>

					<ul class="right">
						<li class="divider"></li>
						<li class="has-form">{{yield "login"}}</li>
					</ul>
				</section>
			</nav>
			
			{{yield "messages"}}

			{{yield}}

			{{else}}
			<div class="row">
				<div class="small-10 small-centered columns">
					{{yield "login"}}
				</div>
			</div>
			{{/if}}
		</section>
	</div>
</template>