<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
</head>

<template name="main">
{{#if currentUser}}
	<header>
		<nav class="top-menu">
			<div>
				<a class="menu-icon {{#if sessionGet 'main_MenuVisible'}}active{{/if}}">&#x2699;</a>
				<a class="menu-context">Context</a>
			</div>
			<ul class="dropdown {{#unless sessionGet 'main_MenuVisible'}}hide{{/unless}}">
				<li><a>Option1</a></li>
				<li><a>Option2</a></li>
				<li>{{> logout}}</li>
			</ul>
		</nav>
	</header>
	<div class="main">
		{{yield "messages"}}

		{{yield}}
	</div>
	<footer>
		<nav class="bottom-options">
			<button class="left">Option 1</button>
			<button class="right">Option 2</button>
		</nav>
	</footer>
{{else}}
	<div class="row">
		<div class="small-10 small-centered columns">
			{{yield "login"}}
		</div>
	</div>
{{/if}}
</template>