<template name="classroomManager">
	<div class="classroom-manager">
		<div class="container">
			<div class="header">
				<span>Classroom</span>
				<span>Teacher</span>
			</div>
			
			<ul>
				{{#each classrooms}}
					<li>
						<a>
							<span>{{name}}</span>
							<span>{{ownerName this}}</span>
						</a>
					</li>
				{{/each}}
			</ul>
			{{#if thisUserHasRole 'teacher'}}
				<button>New Classroom</button>
			{{/if}}
		</div>
		<div class="modal hide">
			<div>
				<form>
					<span>Enter a new classroom name</span>
					<input type="text" placeholder="Classroom name" />
					<button class="submit">Submit</button>
					<button class="cancel">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</template>