<template name="classroom">
	<button id="btn-remove-user-from-room" name="btn-remove-user-from-room">Leave classroom</button>
	{{#each groups}}
		<div>
			{{#each this.members}}
				<div>
					{{profileName this}} 
					
					{{#if isCurrentUserOrRole this 'teacher'}}
						{{#if groupHasMoreThanOneMember ../../this._id}}
							<button data-member="{{this}}" class="btn-remove-user-from-group">-</button>
						{{/if}}
					{{/if}}
				</div>
			{{/each}}
			{{#unless thisUserHasRole 'teacher'}}{{#unless userIsGroupMember this._id currentUserId}}<button class="btn-join-group">Join</button>{{/unless}}{{/unless}}
		</div>
	{{/each}}
	<div class="component-selector-nav">
		{{#each components}}
			<a class="component-selector" data-component="{{this._id}}">{{this.title}}</a>
		{{/each}}
	</div>
	<div class="activity-viewport">
		{{{activity}}}
	</div>
</template>