<template name="classroomManager">
	<div class="classroom-manager">
		<div class="container">
			<div class="header">
				<span>Classroom</span>
				<span>Teacher</span>
			</div>
			
			<ul class="classroom-list">
				{{#each classrooms}}
					<li>
						<a>
							<span>{{name}}</span>
							<span>{{ownerName this}}</span>
						</a>
					</li>
				{{/each}}
			</ul>
			<button>New Classroom</button>
		</div>
		<div class="modal">
			<form>
				<input type="text" placeholder="Classroom name" />
				<button class="submit">Submit</button>
			</form>
		</div>
		<div class="row">
			<a id="btn-add-classroom" class="button expand" name="btn-add-classroom">New Classroom</a>
			
			<form id="add-classroom" name="add-classroom" class="slide-visibility-transition slide-down-invisible">
				<div class="large-12 columns no-horz-padding">
					<div class="row collapse">
						<div class="small-10 columns">
							<input id="add-classroom-name" name="add-classroom-name" type="text" placeholder="classroom name" />
						</div>
						<div class="small-2 columns">
							<a class="submit button prefix success" name="submit">Submit</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>