<template name="activityExplainTheWord_Explain_Students">
	<a id="assign-all-new-items" class="button expand">Reshuffle words</a>
	<div class="section-container vertical-tabs" data-section="vertical-tabs">
		{{#each students}}
			<section>
				<p class="title" data-section-title><a>{{profileName this}}</a></p>
				<div class="content" data-section-content>
					<a class="assign-one-new-item button expand">New word</a>
					
					<table class="scrolltable large-12 small-12 columns">
						<thead>
							<tr>
								<th>Word</th>
								<th>Time Taken (sec)</th>
								<th>Answer</th>
							</tr>
						</thead>
					</table>
					<div class="scrolltable-container">
						<table class="scrolltable large-12 small-12 columns">
							<tbody>
								{{#each studentAllItems}}
									<tr>
										<td>{{this.item}}</td>
										<td>{{itemAnswerTime ../this}}</td>
										<td class="{{itemAnswerColor}}">{{itemAnswer}}</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</section>
		{{/each}}
	</div>
</template>