<template name="activityExplainTheWord_Explain_Stats">
	<div class="thead small-12 columns">
		<span class="small-6 columns">Word</span>
		<span class="small-6 columns">Average Time (sec)</span>
	</div>
	<hr />
	<div class="small-12 columns">
		{{#each explainItems}}
			<ul class="no-bullet">
				<li class="explain-item-stat">
					<a>
						<span class="small-6 columns">{{this.item}}</span>
						<span class="small-6 columns">{{this.avgTime}}</span>
					</a>
					<div class="details {{#unless showStatDetails this._id}}hide{{/unless}}">
						<p>Fastest Time (sec): {{this.fastestTime}}</p>
						<p>Fastest Student: {{profileName this.fastestUser}}</p>
						<p>Fastest Group: {{groupMembers this.fastestGroup}}
					</div>
				</li>
			</ul>
		{{/each}}
	</div>
</template>