<template name="activityBrainstorm_Brainstorm_Student">
	<div class="student">
		<ul>
			{{#each brainstormItems}}
				<li>
					<div>
						<div {{#unless userHasRole currentUser teacherUser}} contenteditable="true"{{/unless}}>
						{{this.text}}
						</div>
						<div>
							{{profileName this.userId}}
						</div>
					</div>
				</li>
			{{/each}}
		</ul>
		{{#unless userHasRole currentUser teacherRole}}
			<form>
				<input type="text" />
				<button type="submit">submit</button>
			</form>
		{{/unless}}
	</div>
</template>