<template name="activityExplainTheWord_Explain">
	{{#unless thisUserHasRole 'teacher'}}
		<div class="large-10 small-12 large-centered small-centered columns">
			<div class="large-12 small-12 columns {{#if ticked}}background-green{{/if}}{{#if crossed}}background-red{{/if}}">
				<div id="explain-word-container" class="text-center"><h1>{{currentItem}}</h1></div>
				<div class="large-12 small-12 large-centered small-centered columns">
					{{#if currentItem}}
						<div class="left"><a id="explain-answer-tick" class="button large success">&#x2713;</a></div>
						<div class="right"><a id="explain-answer-cross" class="button large alert">&#x2717;</a></div>
					{{/if}}
				</div>
			</div>
			<div class="clear">
				<a id="explain-answer-new" class="button expand">Next</a>
			</div>
		</div>
	{{/unless}}
</template>