/*
Syntax error: Invalid CSS after "...   &:nth-child(": expected expression (e.g. fr, 2n+1), was ")"
        on line 612 of /Users/fiachna/meteor-projects/classwired/classwired-mvp/client/stylesheets/sass/app.scss

Backtrace:
/Users/fiachna/meteor-projects/classwired/classwired-mvp/client/stylesheets/sass/app.scss:612
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1146:in `expected'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1084:in `expected'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1066:in `expr!'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:796:in `pseudo'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:677:in `simple_selector_sequence'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:639:in `_selector'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:618:in `selector'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:602:in `selector_sequence'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:527:in `ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:542:in `block_contents'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:552:in `block_child'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:27:in `parse'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:342:in `_to_tree'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:315:in `_render'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:262:in `render'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/fiachna/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/fiachna/.rbenv/versions/2.0.0-p247/bin/compass:23:in `load'
/Users/fiachna/.rbenv/versions/2.0.0-p247/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...   &:nth-child(\": expected expression (e.g. fr, 2n+1), was \")\"\A         on line 612 of /Users/fiachna/meteor-projects/classwired/classwired-mvp/client/stylesheets/sass/app.scss"; }
