.classroom-link
{	
	display: block;
	width: 100%;
	height: 100%;
}

.classroom-manager-container
{
	height: 16em;
	box-shadow: 0 0 4px 1px #ccc inset;
}

.group
{
	height: 9em;
}

.slide-visibility-transition
{
	-webkit-transition: -webkit-transform 600ms ease, opacity 600ms ease;
	-moz-transition: -moz-transform 600ms ease, opacity 600ms ease;
	-ms-transition: -ms-transform 600ms ease, opacity 600ms ease;
	-o-transition: -o-transform 600ms ease, opacity 600ms ease;
	transition: transform 600ms ease, opacity 600ms ease;
}

.slide-down-visible
{
	opacity: 1.0;
	-webkit-transform: scale(1, 1.0);
	-moz-transform: scale(1, 1.0);
	-ms-transform: scale(1, 1.0);
	-o-transform: scale(1, 1.0);
	transform: scale(1, 1.0);
}

.slide-down-invisible
{
	opacity: 0.0;
	-webkit-transform: scale(1, 0.0);
	-moz-transform: scale(1, 0.0);
	-ms-transform: scale(1, 0.0);
	-o-transform: scale(1, 0.0);
	transform: scale(1, 0.0);
}

.classroom-list li:nth-child(odd)
{
	background-color: #f9f9f9;
}

.component-selector-nav ul
{
	display: inline-block;
	float: none !important;
}

.scrolltable-container
{
	height: 16em;
	overflow-y: auto;
	clear: both;
}

.txt-wordlist-item-input
{
	margin: 0.5em 0 0.5em 0 !important;
	font-size: 1.5em !important;
}

.scrolltable
{
	margin-bottom: 0px;
	table-layout: fixed;
}

.group-scrollable
{
	height:5em;
	overflow-y: auto;
}

.no-horz-padding
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-vert-margin
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.clear
{
	clear:both;
}

.background-red
{
	background-color: #dba9aa;
}

.background-green
{
	background-color: #b4cca1;
}

.background-yellow
{
	background-color: #ebf097;
}

.red-text
{
	color: #c60f13;
}

.green-text
{
	color: #5da423;
}

.component-tab-inactive
{

}

.component-tab-active
{

}