<template name="adminUserDashboard">
	<div class="admin users">
		<div class="header">
			<span>Users</span>
		</div>
		<div class="container">
			{{#each users}}
				<div class="user">{{emailAddress this}}</div>
				<div class="details hide">
					{{profileName this}}
					<div class="roles">
						{{#each roleNames}}
							<span>{{this}}</span>
						{{/each}}
					</div>
					<button class="delete">Delete</button>
				</div>
			{{/each}}
		</div>
	</div>

	<table border="1">
		<tbody>
			<tr>
				<th>ID</th>
				<th>Email Address</th>
				<th>Name</th>
				<th>Roles</th>
				{{#each availablePermissions}}
					<th>{{this}}</th>
				{{/each}}
			</tr>
			{{#each users}}
				{{> adminUserDashboardItem this}}
			{{/each}}
		</tbody>
	</table>
</template>