<template name="adminUserDashboard">
	<div class="admin users">
		<div class="header">
			<span>Users</span>
		</div>
		<ul>
			{{#each users}}
				<li class="user">
					<a>
						{{#if true}}
							<span> + </span>
						{{else}}
							<span> - </span>
						{{/if}}
						<span>{{emailAddress this}}</span>
					</a>
					<div class="details {{#unless showDetails this}}hide{{/unless}}">
						<span>{{profileName this}}</span>
						<div class="roles">
							{{#each availablePermissions}}
								<span>{{this}}</span>
								<span>
									{{#if userHasRole ../this this}}
									<input class="role-checkbox" type="checkbox" checked />
									{{else}}
									<input class="role-checkbox" type="checkbox" />
									{{/if}}
								</span>
							{{/each}}
						</div>
						<button class="delete">Delete</button>
					</div>
				</li>
			{{/each}}
		</div>
	</div>

	<table border="1">
		<tbody>
			<tr>
				<th>ID</th>
				<th>Email Address</th>
				<th>Name</th>
				<th>Roles</th>
				{{#each availablePermissions}}
					<th>{{this}}</th>
				{{/each}}
			</tr>
			{{#each users}}
				{{> adminUserDashboardItem this}}
			{{/each}}
		</tbody>
	</table>
</template>